@use '../abstracts/' as *;

.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    &__body {
        display: flex;
        align-items: center;
        padding: $card-body-padding;
    }
    &[data-type="testimonial"] &__body {
        position: relative;
        isolation: isolate;

        &::after {
            position: absolute;
            top: -7rem;
            left: 1rem; 
            z-index: -1;
            content: "\201C";
            font-size: 25rem;
            font-family: $ff-accent;
            opacity: 0.1;
        }
    }
}